.header {
background: rgba(46, 255, 234, 0.11);
  justify-content: center;
  text-align: center;
}

.introducing {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  color: #333;
    display: block;
    padding: 32px;
}
