.header {
// background: #ffeaaa;
// background: url(/src/scss/telegramcalltoaction-01.png);
  background-size: cover;
  background-position:left;
  text-align: center;
}

.introducing {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  color: #333;
    display: block;
    padding: 32px;
}
