.header {
  // background: #ffeaaa;
  background-image: url(../telegramexpo1-01.png);
  background-size: cover;
  background-position: right;
  text-align: center;
}

.header-separator {
  display: none;
}
.introducing {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  display: block;
  padding: 32px;
}

@media only screen and (max-width: 1200px) {
  .header {
    background-size: 120%;
    background-position-x: -80px;
  }
}

@media only screen and (max-width: 950px) {
  .header {
    background-size: 140%;
    background-position-x: -160px;
  }
}
@media only screen and (max-width: 850px) {
  .header {
    background-size: 140%;
    background-position-x: -150px;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    background-image: url(../telegram700px3-01.png);
    background-position-x: -120px;
  }
}
@media only screen and (max-width: 690px) {
  .header {
    background-position-x: -110px;
  }
}

@media only screen and (max-width: 660px) {
  .header {
    background-position-x: -100px;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    background-position-x: -110px;
    background-image: url(../telegram700px6-01.png);
  }
  .header-separator {
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  .header {
    background-position-x: -100px;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    background-position-x: -90px;
  }
}
@media only screen and (max-width: 460px) {
  .header {
    background-image: url(../telegram400px3-01.png);
    background-size: 120%;
    background-position-x: -60px;

  }
}
@media only screen and (max-width: 440px) {
  .header {
        // background-size: 120%;
    background-position-x: -50px;
  }
}

@media only screen and (max-width: 400px) {
  .header {
        background-size: 120%;
    // background-position-x: -20px;
  }
}

@media only screen and (max-width: 370px) {
  .header {
        background-size: 123%;
    background-position-x: -57px;
  }
}
@media only screen and (max-width: 350px) {
  .header {
        // background-size: 130%;
    background-position-x: -50px;
  }
}