@import "./base";
@import "./tags/header";
@import "./tags/hero";

.br-footer {
  display: none;
}

.index {
  text-align: center;
}
.inner {
  width: 480px;
  margin: 0 auto;
}

body.dashboard {
  background: #e0fcfe;
}
.dashboard .inner {
  width: 480px;
}
.dashboard #header {
  text-align: center;
  padding: 32px 0;
}
.dashboard span.delete a.delete {
  color: #e54322;
}
#header .profile-avatar,
.embed .profile-avatar,
.people-list .profile-avatar {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #f6ba00;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: block;
}
.embed .profile-avatar {
  width: 32px;
  height: 32px;
  margin: 0 0 12px;
  border: none;
}
.people-list .profile-avatar {
  display: inline-block;
  margin: 0 12px 24px;
}
#memories li {
  background: #ffffff;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08), 0 6px 8px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  text-align: left;
  margin-bottom: 32px;
  position: relative;
}
#categories {
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  text-align: left;
  margin-bottom: 32px;
}
#categories li {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
#categories li:last-of-type {
  border-bottom: none;
}
#categories li h3 {
  float: left;
}
#categories li .memory-count {
  float: right;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.64);
  font-size: 14px;
}
#categories li .memory-count strong {
  font-weight: 500;
}
#memories li .content {
  padding: 24px;
  display: block;
}
#categories li .content a {
  padding: 16px 24px;
  display: block;
}
#memories li .meta {
  background: rgba(0, 0, 0, 0.04);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px 24px;
  border-radius: 0 0 24px 24px;
}
#memories li .meta .platform {
  float: left;
}
.profile #memories li .meta span,
.discover #memories li .meta span {
  line-height: 24px;
}

#error_explanation,
#notice {
  margin-bottom: 24px;
}
.devise #memories input {
  height: 48px;
}
.devise .links {
  text-align: center;
}
.devise .links a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 12px;
  font-size: 14px;
}
#memories li h3,
#categories li h3,
.field.key input {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}
.edit_memory .meta,
.new_memory .meta,
.categories.edit .meta,
.categories.new .meta,
.new_category .meta {
  padding: 0 !important;
  border: none !important;
}
.dashboard #memories input[type="submit"] {
  width: 100%;
  height: 56px;
  background: #1fcc92;
  border-radius: 0 0 24px 24px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: #fff;
}
#memories li p,
.field.value input {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.88);
  text-overflow: ellipsis;
  overflow: hidden;
}
#memories li p strong {
  font-weight: 500;
}
#memories li .meta span {
  display: inline-block;
  font-size: 14px;
}
#memories li .meta .controls a {
  margin-left: 20px;
}
#memories li .meta span a {
  color: rgba(0, 0, 0, 0.64);
}
.pagination {
  text-align: center;
  font-size: 14px;
}
.pagination .previous_page {
  float: left;
}
.pagination .next_page {
  float: right;
}


.dashboard #sidebar {
  width: 320px;
  background: rgba(246, 186, 0, 0.12);
  border-right: 1px solid rgba(246, 186, 0, 0.48);
  box-shadow: 2px 0 2px rgba(246, 186, 0, 0.12);
  height: 100%;
  position: fixed;
  text-align: left;
  padding: 48px;
}
.dashboard #sidebar #logo {
  text-align: left;
  margin-bottom: 64px;
  float: left;
  display: inline-block;
  width: auto;
}
.dashboard #sidebar nav {
  height: 100%;
  position: relative;
}
.dashboard #sidebar nav .bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 48px;
}
.dashboard #sidebar nav li {
  display: block;
  margin: 0 0 48px;
}
.dashboard #sidebar nav li a {
  color: rgba(0, 0, 0, 0.88);
}
.dashboard #sidebar nav li .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 12px;
  color: rgba(0, 0, 0, 0.88);
}
nav li svg {
  width: 16px;
  vertical-align: middle;
}
.dashboard .content-area {
  /*padding: 64px 0 0 320px;*/
}
.dashboard .field.file input {
  line-height: normal !important;
  padding: 12px 0;
}
.dashboard #sidebar .expand {
  display: none;
  float: right;
  cursor: pointer;
}
.dashboard #sidebar .expand .close {
  display: none;
}
.dashboard #sidebar.expanded .expand .open {
  display: none;
}
.dashboard #sidebar.expanded .expand .close {
  display: inline-block;
}

.dashboard #sidebar.expanded {
  height: 100%;
  position: fixed;
  z-index: 100;
}
.dashboard #sidebar.expanded nav {
  display: block;
}
.dashboard #sidebar.expanded #logo {
  margin-bottom: 48px;
}
.dashboard #sidebar.expanded .bottom {
  padding-bottom: 48px;
}

@media screen and (max-width: 960px) {
  .dashboard #sidebar.expanded {
    background: #e0fefe;
  }
  .dashboard #sidebar {
    background: none;
    height: auto;
    width: 100%;
    padding: 24px;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    border-right: none;
    box-shadow: none;
  }
  .dashboard #sidebar nav {
    display: none;
  }
  .dashboard #sidebar #logo {
    margin-bottom: 0;
  }
  .dashboard #sidebar .expand {
    display: inline-block;
  }
  .dashboard .content-area {
    padding: 0;
  }
}

@media screen and (max-width: 720px) {
  .dashboard #quick-memories .quick-memory {
    width: 100%;
    margin: 0 0 24px !important;
    height: auto;
  }
  .dashboard #quick-memories .quick-memory a {
    padding: 24px 0;
  }
  .dashboard #quick-memories .quick-memory:last-of-type {
    margin-bottom: 0 !important;
  }
  #header nav li {
    margin: 0 8px;
  }
}
@media screen and (max-width: 640px) {
  .inner {
    width: 100% !important;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 480px) {
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
input {
  -webkit-appearance: none;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
}
.inner {
  width: 480px;
  margin: 0 auto;
}
a {
  color: #f6ba00;
}

.clear {
  clear: both;
}

.index {
  text-align: center;
}
#main {
  display: block;
  width: 100%;
  background-image: linear-gradient(
    -180deg,
    rgb(255, 255, 255) 0%,
    rgba(246, 186, 0, 0.12) 50%,
    #fff 100%
  );
}
#logo {
  padding: 96px 0 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  letter-spacing: 1px;
  text-transform: uppercase;
}
#logo a {
  color: inherit;
}
#logo img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  height: 40px;
}
.home h2 {
  font-weight: 400;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 48px;
  text-align: center;
  margin: 48px 0 32px;
}
.index #hero p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
  line-height: 24px;
}
.index a.button {
  width: 256px;
  height: 64px;
  background: #3996c8;
  border-radius: 100px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 62px;
  font-weight: 500;
  margin: 48px 0 128px;
  font-size: 16px;
}
.index a.button.no-margin {
  margin-bottom: 16px;
}
.index a.login {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 128px;
}
.index h4 {
  font-weight: 400;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 48px;
  margin-bottom: 24px;
}
.index .section p.sub {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: 48px;
}

#header {
  padding: 72px 0 48px;
  line-height: 24px;
  line-height: 28px;
  text-align: center;
}
#header #logo {
  height: 24px;
  vertical-align: text-top;
  margin-right: 8px;
}
#header h1 {
  font-size: 18px;
  font-weight: 700;
}
#header h1 a {
  color: #000;
}

.index #white #footer {
  padding: 0 0 96px;
  color: rgba(0, 0, 0, 0.64);
}
.index #white #footer a {
  color: inherit;
}

.messages {
  width: 100%;
  padding: 48px 48px 24px;
  background: #ffffff;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.12),
    0px 6px 8px 0px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
}
.messages div {
  max-width: 80%;
  word-wrap: break-word;
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 20px;
  text-align: left;
}
.messages .clear {
  margin: 0;
}

.messages .from-me {
  position: relative;
  padding: 12px 24px;
  color: #fff;
  background: #00d9f6;
  border-radius: 24px 24px 4px 24px;
  float: right;
}
.messages .from-me p {
  color: #fff;
}

.messages .from-them {
  position: relative;
  padding: 12px 24px;
  background: #e5e5ea;
  border-radius: 24px 24px 24px 4px;
  color: #000;
  float: left;
}
.messages .image {
  padding: 0;
  overflow: hidden;
  background: none;
}
.messages .image:before {
  display: none;
}
.messages .image img {
  display: block;
  width: 100%;
}
.messages i.circle {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.36);
  display: inline-block;
  margin: 0 2px;
}
.messages img.emoji {
  width: 16px;
  vertical-align: text-bottom;
}
.section {
  margin-bottom: 128px;
}
.section h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 16px;
}
#number {
  position: relative;
  margin: 0 auto;
  width: 292px;
  height: 48px;
}
#number input {
  font-family: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.home .memories .memory h5,
.home .memories .memory h6 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 24px;
}
.home .memories .memory h5 {
  font-weight: 500;
}
.home .memories .memory h6 {
  font-weight: 400;
}
.home .memories .memory.active {
  opacity: 1;
}
.home .memories .memory:first-of-type {
  margin-left: 0;
}
.home .memories .memory:last-of-type {
  margin-right: 0;
}
.home .phone {
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  width: 375px;
  height: 812px;
  margin: 64px auto 0;
  background-size: cover;
}

@media screen and (max-width: 720px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
  .mobile-hide {
    display: none;
  }
  .home #logo {
    padding-top: 48px;
  }
  .home h2 {
    margin: 32px 0;
    font-size: 24px;
    line-height: 32px;
  }
  .home h4 {
    font-size: 24px;
    line-height: 32px;
  }
  .home a.button {
    height: auto;
    padding: 24px 48px;
    line-height: 24px;
    margin-bottom: 64px;
  }
  .home a.login {
    margin-bottom: 64px;
  }
  .messages {
    padding: 24px;
  }
  
}

@media screen and (max-width: 480px) {
  .home .phone {
    width: 248px;
    height: 537px;
    border-radius: 32px;
  }
}

#banner {
  width: 100%;
  display: block;
  text-align: center;
  background: rgba(246, 186, 0, 0.32);
}
#banner p {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}
#banner a {
  color: #333;
  display: block;
  padding: 32px;
}


@font-face {
  font-family: "Gotham";
  src: url("gotham/gotham-medium-webfont.eot");
  src: url("gotham/gotham-medium-webfontd41d.eot?#iefix")
      format("embedded-opentype"),
    // url("gotham/gotham-medium-webfont.html") format("woff2"),
    url("gotham/gotham-medium-webfont.woff") format("woff"),
    url("gotham/gotham-medium-webfont.ttf") format("truetype"),
    url("gotham/gotham-medium-webfont.svg#gotham_mediumregular") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("gotham/gotham-light-webfont.eot");
  src: url("gotham/gotham-light-webfontd41d.eot?#iefix")
      format("embedded-opentype"),
    url("gotham/gotham-light-webfont.woff") format("woff"),
    url("gotham/gotham-light-webfont.ttf") format("truetype"),
    url("gotham/gotham-light-webfont.svg#gotham_lightregular") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("gotham/gotham-book-webfont.eot");
  src: url("gotham/gotham-book-webfontd41d.eot?#iefix")
      format("embedded-opentype"),
    url("gotham/gotham-book-webfont.woff") format("woff"),
    url("gotham/gotham-book-webfont.ttf") format("truetype"),
    url("gotham/gotham-book-webfont.svg#gotham_bookregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("gotham/gotham-bold-webfont.eot");
  src: url("gotham/gotham-bold-webfontd41d.eot?#iefix")
      format("embedded-opentype"),
    url("gotham/gotham-bold-webfont.woff") format("woff"),
    url("gotham/gotham-bold-webfont.ttf") format("truetype"),
    url("gotham/gotham-bold-webfont.svg#gotham_boldregular") format("svg");
  font-weight: 700;
  font-style: normal;
}

#calltoaction {
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-overflow: ellipsis;
  text-indent: 45px;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 3px;
  background-position-x: -13px;
  background-position-y: 3px;
  color: rgba(0, 0, 0, 0.64);
}

.socialmedia-logo {
  height: 21px;
  filter: invert(42%) sepia(93%) saturate(0%) hue-rotate(87deg) brightness(69%)
    contrast(119%);
}
.facebook {
  height: 18px;
}

@media only screen and (max-width: 660px) {
  .introducing {
    font-size: 15px;
    padding: 32px;
  }
}


@media only screen and (max-width: 460px) {
#footer a {
font-size: 14px;
line-height: 30px;
}
.br-footer {
  display: block;
}
.dot-gone{
  display: none;
}
}
@media only screen and (max-width: 395px) {
.index .platforms li a {
  padding: 0 0px;
}
}